body {
		background: #455A71;
}

#bg {
		padding: 68px 0 50px;
}

.row {
		-webkit-border-radius: 5px;
		border-radius: 5px; 
		-webkit-box-shadow: 2px 2px 2px 1px #455A71;
		box-shadow: 2px 2px 2px 1px #455A71; 
		background: white;
}
